@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
body{
    background-image: url(./chess-rook.png);
    font-family: 'Roboto', sans-serif;
}
ol{
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    size: 50px;
    color: darkblue;
    list-style: none;
    justify-content: space-between;
    margin: 50px;
}


h1{
    padding: 50px;
    color: darkblue;
    font-style: italic;
}
